.bg-header-top {
  background-color: antiquewhite;
  background-image: url("images/open-office-main.jpeg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100vw;
}
.bg-header-bottom {
  background-color: #e0a800;
  height: 40vh;
  width: 100vw;
}
nav a {
  font-size: 1.25rem;
  font-weight: bold;
}
.section-row {
  min-height: 120vh;
}
.dec-icon {
  position: absolute;
  top: 0;
  left: 0;
}
#section2 {
  background-color: antiquewhite;
  background-image: url("images/coworkingsuites.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100vw;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2);
}

.sp10 {
  margin-top: 10rem;
}
.sp5 {
  margin-top: 5rem;
}
.sp7 {
  margin: 0 12rem 0 12rem;
}
.sp8 {
  margin-top: 8rem;
}

#section3 p {
  line-height: 2;
  text-align: center;
}
footer {
  min-height: 60vh;
}

footer a {
  color: #000;
  text-decoration: underline;
}
footer a:hover {
  color: #000;
}
